<h1>Editing kitchen fruniture</h1>

<%= render "form", kitchen_fruniture: @kitchen_fruniture %>

<br>

<div>
  <%= link_to "Show this kitchen fruniture", @kitchen_fruniture %> |
  <%= link_to "Back to kitchen frunitures", kitchen_frunitures_path %>
</div>
